body {
    background-image: url(images/Wallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: 'Great Vibes', cursive;
    overflow: hidden;
}
/* Index */
.Nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 20px;
    font-size: 25px;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'Satisfy', cursive;
    
}
.Nav p {
    color: #fff;
}
.Nav a {
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.Nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #8f00c3;
    transition: width 0.3s ease;
}

.Nav a:hover {
    color: #8f00c3;
    transform: scale(1.2);
}

.Nav a:hover::after {
    width: 100%; 
}

.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    padding-top: 40px;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 0px #8f00c3; 
    line-height: 0.5;
}

.Container p:nth-child(1) {
    font-size: 300px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
}

.Container p:nth-child(2) {
    font-size: 80px;
}

.Container p{
    margin: 0;
}
.pop {
    animation: pop 0.5s ease-out forwards;
}
/* Animación de entrada desde abajo */
@keyframes pop {
  0% {
    transform: scale(0); /* empieza pequeño */
    opacity: 0;
  }
  50% {
    transform: scale(1.2); /* se agranda un poco */
    opacity: 1;
  }
  100% {
    transform: scale(1); /* tamaño normal */
    opacity: 1;
  }
}

.cora-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.cora-btn:hover {
  transform: scale(1.2);   
}

.beat-text {
  transition: transform 0.1s ease; /* que el escalado sea fluido */
}


/* Para móviles pequeños */
@media (max-width: 480px) {
    /* Ajuste de textos grandes */
    .Container p:nth-child(1) {
        font-size: 200px; /* se ve grande pero cabe en la pantalla */
    }
    .Container p:nth-child(2) {
        font-size: 60px;
    }

    /* Ajuste de nav */
    .Nav {
        gap: 8px;
        font-size: 20px;
        padding: 10px;
    }

}
